html {
    font-size: 16px;
    overflow-x: hidden; /* To avoid triggering horizontal scrolling, 
    we need to set overflow-x:hidden on both the html and body */
}

body {
    background-color: rgb(22, 19, 19);
    overflow-x: hidden;
}

#bar {
    padding: 1rem;
    background-color: darkred;
    margin: -0.5rem;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 2rem;
    display: inline-block;
    font-family: 'Notable', sans-serif;
    font-size: 1rem;
    letter-spacing: 4px;
}

.mainContent {
    text-align: center;
    background-color: rgb(8, 8, 8);
    color: white;
}

.mainContent h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.mainContent h3 {
    font-size: 1.3rem;
    font-weight: 100;
    padding-bottom: 2rem;
    line-height: 1.5;
}

.pictures {
    display: inline-block;
}

.picture {
    display: inline-block;
    
}
.picture img {
    width: 30%;
    margin: 1.5%;
}

#quote {
    background-color: rgb(43, 0, 122);
    width: 100%;

}

blockquote {
    font-size: 3rem;
    color: white;
    padding: 5rem;
    
}

blockquote span {
    font-size: 1.2rem;
}

table {
    margin-left: 6rem;
    margin-right: 6rem;
}

table, tbody, tr, td {
    border: none;
    text-align: center;
}

.first {
    text-align: right;
}

.second {
    width: 50%;
    text-align: left;
}

td img {
    max-width: 50%;
    margin-bottom: 1rem;
    padding: 2rem;
    
}

section h2 {
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: 1px 1px 20px rgb(226, 6, 6);
}

#play {
    margin: auto;
    width: 50%;
    border: none;
    padding: 1rem;
    text-align: center;
}

#play img {
    width: 73%;
    text-align: center;
    
}

.contact {
    padding: 0.2rem;
    padding-left: 3rem;
    margin-top: 2rem;
    background-color: rgb(54, 3, 3);
    opacity: 78%;
}

.contact h2 {
    color: white;
    font-size: 1rem;
    font-weight: lighter;
}

@media only screen and (max-width: 808px) {

    .mainContent h3 {
        font-size: 1.8rem;
    }

    li {
        margin-right: 0rem;
    }

    .picture {
        display: inline-flex;
    }

    table {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    td img {
        max-width: 80%;
    }

    blockquote {
        font-size: 2rem;
        padding: 1.5rem;
    }
    
}

@media only screen and (max-width: 500px) { 

    .mobile {
        display: none;
    }

    .second {
        display: none;
    }

    ul {
        text-align: center;
    }

    li {
        margin-right: 1rem;
        padding: 0.2rem;
    }
    
    .mainContent h3 {
        text-align: justify;
        line-height: 1.1;
    }

    .pictures {
        display: block;
    }

    .picture {
        display: block;
    }

    .picture img {
        display: block;
        width: 90%;
        margin: 5.5%;
    }

}